@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* cores
preto: #191917
amarelo: #FCEB23
vermelho: #FF0A5F
marrom: #3f2318
*/

header {
    background-color: #191917;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

menu#itens {
    display: none;
}

header > img {
    width: 80px;
    height: 80px;
}

span#burguer {
    color: white;
    display: block;
}

span#burguer:hover {
    border: 2px solid #FF0A5F;
    color: white;
    font-size: 1.8em;
    cursor: pointer;
}

menu ul {
    list-style-type: none;
}

ul, li, a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    color: white;
    align-items: center;
}

a:hover {
    font-size: 1.2em;
}

#caixa {
    box-shadow: 0px 0px 5px #FF0A5F;
    border-radius: 5px;
    padding-left: 10px;
}

#caixa:hover {
    background-color: #FF0A5F;
}

.menu {
    display: block;
}

section#abertura {
    height: 90vh;
}

section#abertura {
    background-image: url(imagem/abertura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.txt1 {
    color: #FCEB23;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 3em;
    padding-top: 30px;
    text-shadow: 3px 3px 5px black;
    text-align: center;
}

section#segundo {
    background-color: #191917;
    color: #FCEB23;
}

.titulo {
    text-align: center;
    font-size: 2em;
    padding-top: 30px;
    color: #FCEB23;
}

.box-1 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
}

.card-box1 {
    box-shadow: 0px 0px 7px black;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 0px 15px 15px 0px;
    margin: 10px;
}

.card-box1 > p {
    color: white;
    padding-top: 10px;
    line-height: 25px;
}

#terceiro {
    background-color: #FFDF3E;
}

.titulo2 {
    text-align: center;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 2em;
    text-shadow: 3px 3px 5px white;
    padding: 20px;
}

.box-2 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.img1 {
    background-color: #3f2318;
    padding: 20px;
    border-radius: 10px;
}

.img1 img {
    width: 140px;
    height: 140px;
}

#quarto {
    background-color: #1E1E1E;
}

.swiper-slide {
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.card-box > img {
    width: 400px;
    height: 400px;
}

section#cinco {
    background-color: #FCEB23;
}

#cinco > .titulo {
    text-shadow: 0px 0px 3px white;
    color: #1E1E1E;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 2em;
}

.img2 {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.img2 > a {
    margin: auto;
}

.img2 > a > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.img2 > a > img:hover {
    width: 170px;
    height: 170px;
    box-shadow: 0px 0px 3px #FF0A5F;
}

footer {
    background-color: #FFDF3E;
}

.video {
    margin: auto;
    position: relative;
    text-align: center;
}

.video > video {
    width: 100%;
    height: 500px;
}

footer > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inst > a > img {
    width: 80px;
    height: 80px;
    padding: 5px;
}

.inst > a > img:hover {
    border: 2px solid #FF0A5F;
    width: 90px;
    height: 90px;
    border-radius: 25%;
}

.wap > a > img {
    width: 80px;
    height: 80px;
    padding: 5px;
}

.wap > a > img:hover {
    border: 2px solid #FF0A5F;
    width: 90px;
    height: 90px;
    border-radius: 25%;
}

.you > a > img {
    width: 80px;
    height: 80px;
    padding: 5px;
}

.you > a > img:hover {
    border: 2px solid #FF0A5F;
    width: 90px;
    height: 90px;
    border-radius: 25%;
}